# Python virtual environment
venv/

# Downloaded videos
downloads/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# OS specific files
.DS_Store
Thumbs.db
